openapi: 3.2.0
info:
  title: Airtable Audit Logs Enterprise API
  description: The Airtable API can be used to integrate your data in Airtable with any external system. The API closely follows REST semantics, uses JSON to encode objects, and relies on standard HTTP codes to signal operation outcomes. It provides full CRUD operations on records, comment management, and webhook subscriptions for real-time notifications.
  version: 1.0.0
  contact:
    name: Airtable
    url: https://airtable.com/developers
    email: support@airtable.com
  license:
    name: Proprietary
    url: https://airtable.com/tos
  termsOfService: https://airtable.com/tos
servers:
- url: https://api.airtable.com/v0
  description: Airtable API v0 production server
security:
- bearerAuth: []
tags:
- name: Enterprise
  description: Retrieve enterprise account information
paths:
  /meta/enterpriseAccounts/{enterpriseAccountId}:
    get:
      operationId: getEnterpriseAccount
      summary: Airtable Get Enterprise Account Information
      description: Returns information about the specified enterprise account, including the enterprise name, creation time, and optionally aggregated usage data and descendant accounts.
      tags:
      - Enterprise
      parameters:
      - $ref: '#/components/parameters/enterpriseAccountId'
      - name: include
        in: query
        required: false
        description: Additional information to include in the response.
        schema:
          type: array
          items:
            type: string
            enum:
            - collaborators
            - groupCollaborators
        style: form
        explode: true
      responses:
        '200':
          description: The enterprise account information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnterpriseAccount'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  responses:
    Forbidden:
      description: The authenticated user does not have enterprise admin permission.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    TooManyRequests:
      description: Rate limit exceeded.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Authentication credentials are missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    EnterpriseAccount:
      type: object
      description: Enterprise account information and configuration.
      properties:
        id:
          type: string
          description: The unique identifier of the enterprise account.
        createdTime:
          type: string
          format: date-time
          description: The time when the enterprise account was created.
        groupIds:
          type: array
          description: The IDs of user groups in the enterprise.
          items:
            type: string
        userIds:
          type: array
          description: The IDs of users in the enterprise.
          items:
            type: string
        workspaceIds:
          type: array
          description: The IDs of workspaces in the enterprise.
          items:
            type: string
        emailDomains:
          type: array
          description: The email domains associated with the enterprise.
          items:
            type: object
            properties:
              emailDomain:
                type: string
              isVerified:
                type: boolean
      required:
      - id
    Error:
      type: object
      description: An error response from the Airtable API.
      properties:
        error:
          type: object
          properties:
            type:
              type: string
            message:
              type: string
          required:
          - type
          - message
  parameters:
    enterpriseAccountId:
      name: enterpriseAccountId
      in: path
      required: true
      description: The unique identifier of the enterprise account (starts with 'ent').
      schema:
        type: string
        pattern: ^ent[a-zA-Z0-9]+$
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Airtable uses Bearer token authentication. Provide a personal access token or OAuth access token in the Authorization header.
externalDocs:
  description: Airtable Web API Documentation
  url: https://airtable.com/developers/web/api/introduction
